@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body{
    background-color:goldenrod;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(124, 237, 255);
    text-align: center;
    padding: 20px;
    }

header .pfp{
    width: 300px;
    height: 300px;
    border: 20px solid rgb(255, 225, 0);
    border-radius: 50%;
    background-image: url(./../img/ralph-pfp.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

header h1{
    font-family: 'Jersey 20',sans-serif;
    font-weight: normal;
    font-size: 70px;
    color: darkred;
    margin: 10px 0 20px 0;
}